body {
	padding-top: 70px;
}

* {
	font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: black;
		color: #eee;
	}
}
